<div>
  <h3>{{ newPost ? "Create new post" : "Edit post" }}</h3>
  <form #form="ngForm">
    <p>{{ post.username }}</p>
    <div *ngIf="newPost">
      <!-- input image -->
    </div>
    <div *ngIf="!newPost">
      <img [src]="post.base64image" width="700px" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        rows="2"
        >{{ post.description }}</textarea
      >
    </div>
  </form>
  <button mat-button><mat-icon>done_all</mat-icon>Confirm</button>
</div>
