$iconWidth: 50px;

.sidenav-toggle {
  display: flex;

  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 8px;
  min-width: $iconWidth;

  mat-icon {
    font-size: 30px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;
  }
}

.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

