<mat-toolbar color="primary">
  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Pet World</span>
  <span class="example-spacer"></span>
  <section>
    <div class="example-button-row">
      <a mat-button [routerLink]="['/posts']"  routerLinkActive="active" ><mat-icon>home</mat-icon>Home</a>
      <a mat-button [routerLink]="['/posts/new']" ><mat-icon>add</mat-icon>New Post</a>
    </div>
  </section>
  <span class="example-spacer"></span>
  <!-- <a mat-raised-button href="#" target="_blank"
    ><mat-icon>logout</mat-icon>Logout</a
  > -->
</mat-toolbar>
